<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    <a class="navbar-brand" href="http://127.0.0.1:8000/Registraion">Registraion</a> <br>
    <a class="navbar-brand" href="http://127.0.0.1:8000/Dispaly_Details">Dispaly Details</a> <br>
    <a class="navbar-brand" href="http://127.0.0.1:8000/About">About</a> <br>
    <a class="navbar-brand" href="http://127.0.0.1:8000/Contact">Contact</a> <br>

    <img src="{% static 'images/chandu.jpg'} " alt="">

  </body>
</html>