<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Training Center Home </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <a class="cha" href="http://127.0.0.1:8000/Registration">Registration</a>
    <br>
    <a class="cha" href="http://127.0.0.1:8000/Courses">Courses</a>
    <br>
    <a class="cha" href="http://127.0.0.1:8000/About">About</a>
    <br>
    <a class="cha" href="http://127.0.0.1:8000/Contact">Contact</a>
    <br>
    <h1>Prime Intuit Home Page</h1>

    <img src="{% static 'images/Prime.jpeg' %}" alt="Oops could not found any image" width="1300" >
    <br>
    <br>
    {{Insert_Shivu}}
    <p>One of the finest finishing schools</p>
    <p>Data Specialization Program</p>
    {{Insert_Me}}
    <br>
    <br>

    <div class = "Batch_Table">

      {% if access_record %}
      <table>
        <thead>
        <th> Batch ID </th>
        <th> Course ID </th>
        <th> Start Date </th>
        <th> End Date </th>
        </thead>
        {% for b in access_record %}
        <tr>
          <td>{{b.batch_ID}}</td>
          <td>{{b.course_ID}}</td>
          <td>{{b.start_date}}</td>
          <td>{{b.end_date}}</td>
        </tr>
        {% endfor %}
      </table>

      {% else %}
      <p> No Batch Records found</p>
      {% endif %}
    </div>
  </body>
</html>
