<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Training Center Courses </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <a class="cha" href="http://127.0.0.1:8000/Registration">Registration</a>
    <br>
    <a class="cha" href="http://127.0.0.1:8000/Courses">Courses</a>
    <br>
    <a class="cha" href="http://127.0.0.1:8000/About">About</a>
    <br>
    <a class="cha" href="http://127.0.0.1:8000/Contact">Contact</a>
    <br>
    <h1>Prime Intuit Home Page</h1>

    <img src="{% static 'images/Prime.jpeg' %}" alt="Oops could not found any image" width="1300" >

  </body>
</html>
